<a href="https://colab.research.google.com/github/IlhamAmbalan/Ambalan/blob/main/Minggu_2_Praktikum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **WEEK 2**

***Weekly Exercise 1***

In [ ]:
Panjang = 20.5
Lebar = 25
Tinggi = 10

Keliling = 2 * (Panjang + Lebar)
Luas = Panjang * Lebar
Volume = Panjang * Lebar * Tinggi

print("Panjang=", Panjang)
print("Lebar=", Lebar)
print("Tinggi=", Tinggi)
print("Keliling=", Keliling)
print("Luas=", Luas)
print("Volume=", Volume)

Panjang= 20.5
Lebar= 25
Tinggi= 10
Keliling= 91.0
Luas= 512.5
Volume= 5125.0

***Weeakly Exercise 2***

In [1]:
Rata_Shafira = (85+75)/2
print("1. Rata-rata nilai Shafira pada kedua mata kuliah adalah" ,Rata_Shafira)

Jumlah_Nilai = (75 + 90 + 70 + 75)
print("2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah adalah" ,Jumlah_Nilai)

Rata_WDHN_K = (85 + 85 + 80 + 95)/4
Rata_WDHN_MS = (85 + 85 + 75 + 80)/4
print("3. Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada mata kuliah Kalkulus adalah" ,Rata_WDHN_K)
print("   Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada mata kuliah Metode Statistika adalah" ,Rata_WDHN_MS)

Rata_Semua_K = (85 + 80 + 75 + 95 + 85 + 75 + 70 + 85 + 80)/9
print("4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa adalah" ,Rata_Semua_K)

Rata_Semua_MS = (75 + 90 + 80 + 80 + 85 + 90 + 75 + 85 + 75)/9
print("5. Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa adalah" ,Rata_Semua_MS)

1. Rata-rata nilai Shafira pada kedua mata kuliah adalah 80.0
2. Jumlah nilai Hanif dan Andi untuk semua mata kuliah adalah 310
3. Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada mata kuliah Kalkulus adalah 86.25
   Rata-rata nilai Widya, Dhanar, Hikma dan Nedia pada mata kuliah Metode Statistika adalah 81.25
4. Rata-rata nilai mata kuliah Kalkulus 1 untuk semua mahasiswa adalah 81.11111111111111
5. Rata-rata nilai mata kuliah Metode Statistika untuk semua mahasiswa adalah 81.66666666666667

***Weekly Exercise 3***

In [15]:
Gaji_Agustus = 8 * 30000 * 31
Gaji_Potongan = 8 * 30000 * 3
Gaji_Dwi = Gaji_Agustus - Gaji_Potongan
print("1. Gaji yang diterima Dwi pada bulan Agustus adalah" ,Gaji_Dwi)

Tunjangan = 10 * 6720000 // 100
print("2. Jumlah tunjangan yang diterima oleh Dwi pada bulan Agustus adalah" ,Tunjangan)

Lembur = 10000 * 5
Gaji_Total = Gaji_Dwi + Lembur + Tunjangan
print("3. Gaji total yang diterima oleh Dwi pada bulan Agustus adalah" ,Gaji_Total)

1. Gaji yang diterima Dwi pada bulan Agustus adalah 6720000
2. Jumlah tunjangan yang diterima oleh Dwi pada bulan Agustus adalah 672000
3. Gaji total yang diterima oleh Dwi pada bulan Agustus adalah 7442000